//------------------------------
//	GRID LAYOUT
//------------------------------

.span1 { width: 30%;  } // 300 / 1000 = 0.32
.span2 { width: 65%;  } // 650 /1000 = 0.66
.span3 { width: 100%; } // 1000 / 1000 = 1

.span1,
.span2,
.span3 {
	padding: 0;
	margin: 0 5% 1% 0;
	float: left;
	display: block;
}

.alpha{ margin-left:  0; }
.omega{ margin-right: 0; }





//------------------------------
//	CLEARFIX
//------------------------------

.cf {
	&:before {
		content: " ";
    display: table;
	}

	&:after {
		@extend .cf:before;
		clear: both;
	}

	*zoom: 1;
}





//------------------------------
//	GENERAL STYLES
//------------------------------

html, body {
	height: 100%;
}


body {
	width: 920px;
	margin: 0 auto;

	font-family: $oswald-stack;
	font-weight: 300;
	letter-spacing: 1px;

	background: black;
	color: white;
}

img {
	width: 100%;
}

a {
		text-decoration: none;
		color: inherit;
}

b {
		color: $light-gray;
		font-weight: 300;
}

h1 {
	font: 33px $anton-stack;
	font-weight: normal;

	letter-spacing: 1px;
	background-color: $main-color;
	padding-left: 20px; 
	margin: 10px 0;
}

h2 {
	font: 20px $oswald-stack;
	font-weight: 300;
	background-color: $gray;

	padding-left: 40px;
	margin: 0 0 5px 0;
}

h3 {
	background-color: #333;
	width: 6.25em;

	font: 1em $oswald-stack;
	font-weight: 300;
	text-align: center;

	margin: 0 auto .7em auto;
}

p {
	width: 100%;
	padding: 0 5px;
	font: $oswald-stack;
	font-weight: 300;
	letter-spacing: 1px;
}

ul {
	margin: .7em 0 .7em 0;
}

p, ul {
	a {
		text-decoration: none;
		color: $link-color;

		&:hover {
			color: white;
			border: 0;
		}
	}
}

.center {
	text-align: center;
	margin-top: 10px;
}




//------------------------------
//	ICON FONT
//------------------------------

@font-face {
	font-family: 'icomoon';
	src:url('../icons/icomoon.eot');
	src:url('../icons/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../icons/icomoon.woff') format('woff'),
		url('../icons/icomoon.ttf') format('truetype'),
		url('../icons/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	color: white;
	font-family: 'icomoon';
	font-size: 2em;
	-webkit-font-smoothing: antialiased;

	@include transition(color);

	&:hover {
		color: $main-color;
		text-decoration: none;
	}
}

.icon-facebook:before {
	content: "\e499";
}

.icon-twitter:before {
	content: "\e49e";
}

.icon-youtube:before {
	content: "\e600";
}

.icon-email:before {
	content: "\e48e";
}

.icon-instagram:before {
	content: "\e49c";
}





//------------------------------
//	HEADER STYLES
//------------------------------

.header {
	width: 100%;
	margin-top: 5px;

	.logo {
		width: 30%;
		padding: 5px;
		float: left;
	}

	.social {
		float: right;
		margin-top: 45px;

		ul {
			list-style: none;

			li {
				display: inline-block;
				padding: 1px;
			}
		}
	}

	.navbar {
		margin: 10px 0 20px 0;
		width: 100%;
		text-align: center;
		font: 20px $anton-stack;
		letter-spacing: 1px;

		a {
			padding: 5px 15px;
			background-color: black;
			color: white;

			@include transition(background-color);

			&:hover {
				background-color: $main-color;
			}
		}
	}
}

@each $nav in home, events, repertoire, audition, merchandise, meetus, alumni, contactus {
  .#{$nav} ##{$nav} {
    background-color: $main-color; 
  }
}



//------------------------------
//	FOOTER STYLES
//------------------------------

.footer {
	height: 20px;
	width: 100%;

	background-color: $main-color;
	font: 10px $oswald-stack;
	font-weight: 300;
	letter-spacing: 2px;
	padding: 5px 0 2px 0;
	margin: 0 0 10px 0;

	ul {
		float: right;
		list-style: none;
		margin: 0 10px 0 0;
		padding: 0;

		a {
			color: white;
			padding: 0 10px 0 5px;
			border-right: #999 thin solid;

			&:hover {
				color: #999;
			}
		}

		li {
			display: inline-block;
		}
	}
}

// Sticky footer solution

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -37px; /* the bottom margin is the negative value of the footer's height */
}

.push {
	height: 37px; /* .push must be the same height as .footer */
}