.datespace {
	background: $gray;
	width: 60px;
	height: 90px;
	padding-top: 5px;
	text-align: center;
	float: left;

	.day {
		font: 40px $anton-stack;
	}

	.month {
		font: 15px $oswald-stack;
	}
}

.eventspace {
	min-height: 100px;
	max-width: 580px;
	margin: 0 0 0 70px;

	.info {
		font-size: 12px;
	}
}