.datespace {
	background: $gray;
	width: 5.625em;
	height: 8em;
	text-align: center;
	float: left;

	.day {
		font: 3.5em $anton-stack;
	}

	.month {
		@include paragraph-text;
		font-size: 1.7em;
	}
}

.eventspace {
	min-height: 6.25em;
	width: 85%;
	float: left;
	margin: 0 0 0 .625em;
	@include paragraph-text;

	.info {
		font-size: .857em;
	}
}