.song-list {
	margin: 0;

	ul {
		margin: 0;
	}

	li {
		margin: 0;
	}
}

.videos {
	iframe {
		padding: 1em 0;
		width: 100%
	}
}

.studio-albums {
	table {
		width: 100%;
	}
	.album {
		width: 200px;
		height: 200px;
		position: relative;

		.hoverimage {
			@include transition(opacity);

			&:hover {
				opacity: .4;
			}
		}

		.hovertitle {
			position: absolute;
			top: 2em;
			width: 100%;
			font-size: 1.5em;
			text-align: center;
		}
	}
}

